<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jq07_JQueryAjax</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloajaxServlet</display-name>
    <servlet-name>HelloajaxServlet</servlet-name>
    <servlet-class>ajax01.HelloajaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloajaxServlet</servlet-name>
    <url-pattern>/HelloajaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloAjax2</display-name>
    <servlet-name>HelloAjax2</servlet-name>
    <servlet-class>ajax02.HelloAjax2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloAjax2</servlet-name>
    <url-pattern>/HelloAjax2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressServlet</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>ajax03.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/AddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerializeServlet</display-name>
    <servlet-name>SerializeServlet</servlet-name>
    <servlet-class>ajax05.SerializeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerializeServlet</servlet-name>
    <url-pattern>/SerializeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSonServlet</display-name>
    <servlet-name>JSonServlet</servlet-name>
    <servlet-class>ajax06.JSonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSonServlet</servlet-name>
    <url-pattern>/JSonServlet</url-pattern>
  </servlet-mapping>
</web-app>