<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">

	<resultMap type="board" id="boardSelectMap"> 
		<result property="no" column="type_no" jdbcType="NUMERIC"/>
		<result property="title" column="type_title" jdbcType="VARCHAR"/> 
		<result property="content" column="type_content" jdbcType="VARCHAR"/>
		<result property="hits" column="type_hits" jdbcType="NUMERIC"/> 
		<result property="writeDate" column="type_writeDate" jdbcType="VARCHAR"/>
		<result property="originalFileName" column="type_originalFileName" jdbcType="VARCHAR"/> 
		<result property="category" column="type_category" jdbcType="VARCHAR"/> 
		<result property="memberDTO.ssn" column="ssn" jdbcType="VARCHAR"/> 
		</resultMap> 
		
		<sql id = "selectBoard"> 
		SELECT 
		type_no, type_title, type_content, type_hits, type_writeDate, type_originalFileName, type_category, m.ssn 
		FROM alcohol_type_board t, member m
		WHERE t.ssn = m.ssn
		</sql>

	<select id="findAll" resultMap="boardSelectMap2">
		<include refid="selectBoard" />
	</select>

	<!-- <insert id="join" parameterType="member" >
		INSERT INTO member 
		(ssn, id, password, name, address, nickname, gender, grade) 
		VALUES 
		(#{ssn},#{id},#{password},#{name},#{address},#{nickname},#{gender},#{grade}) 
		</insert> -->

	<!-- <select id="findByPrimaryKey" parameterType="int" resultMap="memberSelectMap">
		<include refid="selectMember" />
		WHERE item_id = #{value}
	</select> -->
	
	
</mapper>